altgraph==0.17.2
anyio==3.5.0
APScheduler==2.1.2
asgiref==3.4.1
astroid==2.3.3
async-generator==1.10
attrs==21.2.0
auto-py-to-exe==2.13.0
autopep8==1.5
backcall==0.2.0
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.7.1
bleach==3.3.0
bottle==0.12.19
bottle-websocket==0.2.9
browserhistory==0.1.2
certifi==2019.11.28
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.9
click==7.1.1
colorama==0.4.3
comtypes==1.1.10
cryptography==3.4.7
cssselect==1.1.0
decorator==4.4.2
dicttoxml==1.7.4
distlib==0.3.4
dj-database-url==0.5.0
Django==3.1.14
django-common-helpers==0.9.2
django-crispy-forms==1.13.0
django-cron==0.5.1
django-crontab==0.7.1
django-heroku==0.3.1
django-humanize==0.1.2
django-ipware==2.1.0
django-qr-code==1.1.0
django-widget-tweaks==1.4.8
docutils==0.16
dominate==2.6.0
Eel==0.12.4
emoji==1.6.1
filelock==3.4.0
Flask==1.0.2
Flask-Bootstrap4==4.0.2
Flask-Cors==3.0.7
form==0.0.1
future==0.18.2
geocoder==1.38.1
geoip2==3.0.0
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
gunicorn==19.9.0
h11==0.12.0
httpcore==0.14.5
httpx==0.21.3
humanize==2.0.0
idna==2.8
importlib-metadata==4.10.0
ip2geotools==0.1.5
IP2Location==8.6.4
ipython==7.30.1
isort==4.3.21
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==3.2.0
keyboard==0.13.5
keyring==21.2.0
lazy-object-proxy==1.4.3
lxml==4.6.5
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
maxminddb==1.5.2
mccabe==0.6.1
networkx==2.2
nltk==3.4
numpy==1.21.4
opencv-contrib-python==4.5.4.60
opencv-python==4.5.3.56
outcome==1.1.0
packaging==20.3
pandas==1.3.5
parso==0.8.3
pathlib==1.0.1
pefile==2021.9.3
pickleshare==0.7.5
Pillow==8.3.1
pip-review==1.0
pkginfo==1.8.1
platformdirs==2.4.0
prompt-toolkit==3.0.24
psutil==5.9.0
psycopg2==2.9.3
public==2019.4.13
pycodestyle==2.5.0
pycparser==2.21
Pygments==2.7.4
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pylint==2.4.4
pynput==1.7.3
pyquery==1.4.1
pyrsistent==0.18.0
python-dateutil==2.8.2
python-decouple==3.3
python-dotenv==0.19.2
pyttsx3==2.90
readme-renderer==25.0
requests==2.21.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
scikit-learn==1.0.2
scipy==1.7.1
selenium==3.141.0
singledispatch==3.7.0
six==1.14.0
sniffio==1.2.0
sortedcontainers==2.4.0
sounddevice==0.4.2
soupsieve==2.3.1
sqlparse==0.3.0
threadpoolctl==3.0.0
toml==0.10.2
tqdm==4.43.0
traitlets==5.1.1
trio==0.19.0
trio-websocket==0.9.2
twine==3.1.1
typed-ast==1.4.1
typing==3.7.4.1
typing_extensions==4.0.1
urllib3==1.24.3
virtualenv==20.10.0
virtualenvwrapper-win==1.2.7
visitor==0.1.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
whichcraft==0.6.1
whitenoise==5.0.1
wikipedia==1.4.0
wrapt==1.12.1
wsproto==1.0.0
youtube-search-python==1.6.0
